<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://www.dropbox.com/s/546s1t7tg8d5d2d/%E7%A5%9E%E9%AD%94%E4%B9%8B%E5%A1%94%28v13.42%29.ipa?dl=1</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>needs-shine</key>
                    <false/>
                    <key>url</key>
                    <string>http://images.androidphonex.com/wp-content/uploads/a12-logo/com-madhead-tos-zh.jpg</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <false/>
                    <key>url</key>
                    <string>http://images.androidphonex.com/wp-content/uploads/a12-logo/com-madhead-tos-zh.jpg</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>0</string>
                <key>bundle-version</key>
                <string>0</string>
                <key>kind</key>
                <string>software</string>
                <key>subtitle</key>
                <string>神魔之塔</string>
                <key>title</key>
                <string>神魔外掛</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
